<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="singleResumeApp">
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'>
   <!-- <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <script th:inline="javascript">
  var singleResumeApp = angular.module('singleResumeApp', []);
  singleResumeApp.controller('singleResumeCtrl', function ($scope, $http){
    $http.get('http://localhost:8081/rest/[[${id}]]').success(function(data) {
      $scope.item = data;
    });
  });

    </script>
    <title>Резюме</title>
</head>
<!--style='background: grey;'-->
<body style='background: grey;' >


<div class="bd-example">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Добавить резюме</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>-->
                    <h4 class="modal-title" id="exampleModalLabel">Новое резюме</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="fio" class="form-control-label">ФИО</label>
                            <input type="text" class="form-control" id="fio1" placeholder="ФИО" required>
                        </div>
                        <div class="form-group">
                            <label for="dob" class="form-control-label">Дата рождения:</label>
                            <input type="text" class="form-control" id="dob" placeholder="ДД.ММ.ГГГГ">
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-control-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="email@domain.com">
                        </div>
                        <div class="form-group">
                            <label for="skype" class="form-control-label">Skype</label>
                            <input type="text" class="form-control" id="skype" placeholder="skype">
                        </div>
                        <div class="form-group">
                            <label for="avatar" class="form-control-label">Ссылка на аватар</label>
                            <input type="text" class="form-control" id="avatar" placeholder="Ссылка на аватар">
                        </div>
                        <div class="form-group">
                            <label for="target" class="form-control-label">Цель</label>
                            <textarea class="form-control" id="target" placeholder="Цель (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="experience" class="form-control-label">Опыт</label>
                            <textarea class="form-control" id="experience" placeholder="Опыт (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="education" class="form-control-label">Образование</label>
                            <textarea class="form-control" id="education" placeholder="Образование (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="addEducation" class="form-control-label">Дополнительное образование</label>
                            <textarea class="form-control" id="addEducation" placeholder="Образование (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="skills" class="form-control-label">Навыки</label>
                            <textarea class="form-control" id="skills" placeholder="Навыки - указывать <навык>:<количество часов изучения>  (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="codeExample" class="form-control-label">Примеры кода</label>
                            <textarea class="form-control" id="codeExample" placeholder="Ссылки на пример кода (если несколько - то разделять знаком ';')"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" id="addResume">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" id="del">Удалить резюме</button>
<div style='background: white; border: solid 1px black; margin-left:15%; margin-right: 15%; margin-top: 1%' ng-controller="singleResumeCtrl">
    <div class='row' >
        <h1>
            <center>Резюме</center>
        </h1>
    </div>
    <div class='row center-block' >
        <div class='col-md-8' >
            <dl class='dl-horizontal' style='margin-bottom: 0;'>
                <dt>Ф.И.О.</dt>
                <dd id="fio"  data-toggle="modal" data-target="#exampleModal">{{item.fio}}</dd>
            </dl>
            <dl class='dl-horizontal' style='margin-bottom: 0;'>
                <dt>Дата рождения</dt>
                <dd>{{item.dob}}</dd>
            </dl>
            <dl class='dl-horizontal' style='margin-bottom: 0;' >
                <dt >email</dt>
                <dd >
                    <p ng-repeat="email in item.emailArray">{{email}}</p>
                </dd>
            </dl>
            <dl class='dl-horizontal' style='margin-bottom: 0;'>
                <dt>Skype</dt>
                <dd>{{item.skype}}</dd>
            </dl>
        </div>
        <div class='col-md-4'>
            <img src={{item.avatar}} class='center-block' alt='Аватар' height='100'>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Цель</h3>
        </div>
        <div class='panel-body' >
            <ul >
                <li ng-repeat="target in item.targetArray">{{target}}</li>
            </ul>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Опыт</h3>
        </div>
        <div class='panel-body' >
            <ul>
                <li ng-repeat="experience in item.experienceArray">{{experience}}</li>
            </ul>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Образование</h3>
        </div>
        <div class='panel-body'>
            <ul>
                <li ng-repeat="education in item.educationArray">{{education}}</li>
            </ul>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Доп.образование и курсы</h3>
        </div>
        <div class='panel-body'>
            <ul>
                <li ng-repeat="addEducation in item.additionalEducationArray">{{addEducation}}</li>
            </ul>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Навыки</h3>
        </div>
        <div class='panel-body'>
            <ul>
                <li ng-repeat="(key, value) in item.sortedSkillsMap">{{key}} {{value}}</li>
            </ul>
        </div>
    </div>
    <div class='panel panel-default' style='margin: 20px; '>
        <div class='panel-heading'>
            <h3 class='panel-title'>Пример кода</h3>
        </div>
        <div class='panel-body'>
            <ul>
                <li ng-repeat="codeExample in item.codeExampleArray"><a href="{{codeExample}}">{{codeExample}}</a></li>
            </ul>
        </div>
    </div>
</div>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:inline="javascript">
    $('#del').click(function(){
        $.ajax({
            headers: {
                'Accept': '*/*',
            },
            url: 'http://localhost:8081/rest/[[${id}]]',
            type: "DELETE",
            success: function(){
                location.href='http://localhost:8081';
            }
        });
    });
    $('#exampleModal').on('show.bs.modal', function (event) {
         var button = $(event.relatedTarget) // Кнопка, что спровоцировало модальное окно
    });

</script>
</html>